html, body { margin:0; padding:0; }
 #wrapper {
  margin: 1 auto;
  width: 100%;
  height:100vh;
}
#panel{
 float: left;
  width: 100%;
  height:5%;
background-color: #175B81;
color:white;
}

#map {
  float: left;
  width: 80%;
	height:92%;
}
.sidebar {
  float: left;

	height:92%;
   background-color: white;
   color: #175B81;
}

#footer {
float: left;
background-color: #175B81;
color: white;
  width: 100%;
  height:3%;
}
#footer2 {
float: left;
background-color: #175B81;
color: white;
  width: 100%;
  height:3%;
}
.text-labels     {
	font-weight: bold;
    color:#006400;
	font-family: "Arial Black"
	font-size: 20px ;
    line-height:25px;
    text-align:center;
   }
   
table, th, td 
	{
		margin:0px 5px;
		/*border:solid 1px #333; */
		padding:2px 4px;
		font:10px Verdana;
	}
th {
		font-size:14px;
		font-weight:bold
	}
td {
		font-size:14px;
		font-weight:normal
	}
tr {
		background: white;
	}
	
tbody  tr:hover {
		background: yellow;
	}
table {
		border-collapse: collapse;
	}  
.table a
{
    display:block;
    text-decoration:none;
}
#f1{
	font-weight:bold
}
.p2 {
    font-type: Verdana;
	font-size: 24px;
	font-weight:bold;
    position: relative;
    top: 3%;
	left: 20px;
}
.p3 {
    font-size: 10px;
	font-style:italic;
    position: relative;
    top: 3%;
	left: 85vw;
}
